    <%- include header %>
    <% posts.forEach(function (post, index) {%>
    	<p><h2><a href="/article/<%=post._id%>"><%= post.title%></a></h2><a href="/user/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a></p>
    	<p class="info">
    		Author: <a href="/user/<%=post.name%>"><%= post.name%></a> |
    		Date: <%= post.time.minute%>
            Tags
              <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                  <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
              <% }) %>
            <% if (post.reprint_info.reprint_from) { %>
              <br><a href="/article/<%= post.reprint_info.reprint_from.id %>">Link</a>
            <% } %>
    	</p>
    	<p><%- post.post%></p>
        <p class="info">
            Read: <%= post.pv %> | 
            Comments: <%= post.comments.length %> | 
            Reprint: 
            <% if (post.reprint_info.reprint_to) { %>
              <%= post.reprint_info.reprint_to.length %>
            <% } else { %>
              <%= 0 %>
            <% } %>
        </p>
    <%})%>
    <%- include paging %>
    <%- include footer %>
